node_modules

# Astro
.output
.astro
.vercel
.netlify

# SvelteKit (legacy)
/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Extensions
tmp/
extensions/

# Generated static files
static/extensions.json
static/data.json
static/keiyoushi/
static/yuzono/
static/kohi-den/
