<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mihon & Aniyomi Extensions</title>
        <link rel="stylesheet" href="styles.css" />
        <script type="importmap">
            {
                "imports": {
                    "preact": "https://unpkg.com/preact@10.25.4/dist/preact.module.js",
                    "preact/hooks": "https://unpkg.com/preact@10.25.4/hooks/dist/hooks.module.js",
                    "htm": "https://unpkg.com/htm@3.1.1/dist/htm.module.js"
                }
            }
        </script>
    </head>
    <body>
        <script type="module" src="script.js"></script>
    </body>
</html>
