<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mihon & Aniyomi Extensions</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="styles.css" />
        <script type="importmap">
            {
                "imports": {
                    "preact": "https://esm.sh/preact@10.27.2",
                    "preact/hooks": "https://esm.sh/preact@10.27.2/hooks",
                    "htm": "https://esm.sh/htm@3.1.1",
                    "fuse.js": "https://esm.sh/fuse.js@7.1.0/basic"
                }
            }
        </script>
    </head>
    <body>
        <script type="module" src="script.js"></script>
    </body>
</html>
