---
import Footer from '$lib/components/Footer.svelte';
import type { AppData } from '$lib/types';
import '../app.css';

interface Props {
    data: AppData;
}

const { data } = Astro.props;
const { source, commitLink, latestCommitHash } = data;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Mihon & Aniyomi Extensions</title>
        <slot name="head" />
    </head>
    <body>
        <slot />
        <Footer
            client:only="svelte"
            source={source}
            commitLink={commitLink}
            latestCommitHash={latestCommitHash}
        />
    </body>
</html>
