name: Sync to GitLab

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: read

jobs:
    sync-repos:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  ref: main
                  fetch-depth: 0

            - name: Sync to GitLab
              uses: pixta-dev/repository-mirroring-action@674e65a7d483ca28dafaacba0d07351bdcc8bd75 # v1.1.1
              with:
                  target_repo_url: ${{ secrets.GITLAB_REPO }}
                  ssh_private_key: ${{ secrets.GITLAB_SSH }}
